*{
    margin: 0%;
    padding: 0;
    background-color: rgb(8, 8, 8);
    font-family: sans-serif;
    outline: none;
}

 
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   

}
.subcontanier{
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffff,
                      5px 5px 40px rgba(245, 239, 239, 0.959);
    display: grid;
    grid-template-columns: repeat(4,68px);                  
}
input{
    grid-column: span  4 ; 
    height: 70px;
    width: 260px;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset  5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 30px;
    color: rgba(70,70,70);  
    text-align: end; 
    font-size: 40px;  
    background-color: #ecf0f3;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-right:15px;     
}
button{
    height: 66px;
    width: 60px;
     box-shadow: inset -5px -5px 12px #ffffff,
                inset  5px 5px 12px rgba(0,0,0,.16);
    color: rgba(70,70,70);              
     background-color: #ecf0f3;
     margin: 10px;
     border-radius: 50%;
     border: none;
     font-weight:550;
     font-size: 18px;
     
}
.equal{
    width: 115px;
    border-radius: 35px;
    margin-left: 20px;
}
h2{
    color: #6722b6;
    background-color: #ecf0f3;
    font-family: fantasy;
    font-size: 35px;

    
}